@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 0;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.select-form {
  text-align: center;
  margin-bottom: 60px;
}

.select-continent,
.count-controls button {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #fff;
  color: #333;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select-continent:hover,
.count-controls button:hover {
  background-color: #ddd;
}

.select-continent:focus,
.count-controls button:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-count {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: #333;
  margin-bottom: 80px;
}

.count-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.count-control {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.count-controls button {
  margin: 0 15px;
}

.count-controls span {
  font-size: 48px;
  width: 60px;
  text-align: center;
  color: #333;
}

.result-button {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  margin-top: 0px;
  transition: all 0.3s ease;
}

.result-button:hover {
  background-color: #555;
}

.result-button:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.try-again-button {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  margin-top: 0px;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.try-again-button:hover {
  background-color: #555;
}

.try-again-button:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-presentation {
  margin-top: 160px;
  margin-bottom: 60px;
  font-size: 72px;
  font-weight: bold;
  text-align: center; 
}


.entry-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  position: relative;;
  margin-bottom: 80px; 
}

.entry {
  padding: 20px; 
  border: 2px solid #333; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.entry h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px; 
}

.entry p {
  font-size: 16px;
  margin-bottom: 5px;
  flex-grow: 1; 
}

.entry p:last-child {
  margin-bottom: 0;
}




.loading-message,
.error-message {
  font-size: 24px; 
  font-weight: bold;
  text-align: center; 
  margin-top: 120px; 
}



